*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  overflow: hidden;
  border-radius: 12px;
  background: transparent;
  font-family: "Google Sans Flex", sans-serif;
}

#root {
  overflow: hidden;
  border-radius: 12px;
  height: 100vh;
}
